{% extends "base.html" %}

{% block content %}
<h1>
    Редактирование информации о себе
</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div style="margin-top: 20px; margin-bottom: 30px;">
        {% if avatar %}
        <img src="/static/img/{{avatar}}" alt="Аватарка куда-то пропала" width="100" height="100" style="margin-right: 30px">
        {% endif %}
        {{ form.image_path(accept=".png, .jpg, .jpeg, .gif") }}
    </div>

    <div>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
        <p content="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>{{ form.submit(type="submit", class="btn btn-primary") }}</div>
</form>
{% endblock %}