{% extends "base.html" %}

{% block content %}
    <div>
        <a href="/collections" class="btn btn-sm btn-outline-secondary" style="margin-top: 20px">Вернуться к коллекциям</a>
    </div>
    {% if collection %}
        {% if collection.books|length > 0 %}
            {% for item in collection.books %}
                <div class="row border rounded" style="padding: 10px; margin: 10px">
                    <div class="col-md-8">
                        <h2>{{ item.title }}</h2>
                        <div>
                            Добавил(а) - {{ item.user.name }}
                        </div>
                        <div>
                            Дата добавления - {{ item.created_date }}
                        </div>
                    </div>
                    {% if current_user.is_authenticated and current_user == item.user %}
                        <div class="col-md-2">
                            <a href="/book_remove_from_collection/{{ item.id }}/{{collection.id}}" class="btn btn-sm btn-outline-secondary" style="margin-top: 10px">
                                Удалить из коллекции
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

        {% else %}
           <h1>
               В коллекции нет ни одной книги
           </h1>
        {% endif %}
    {% endif %}

{% endblock %}
